<footer class="h-[450px] w-full bg-[#EEE9E5] py-[3%] px-[8%] flex"> <!-- footer -->
    <div class="h-full w-[50%] flex"><!-- 聯絡我們 -->
        <div class="h-full w-[50%] gap-3 flex flex-col">
            <div class="w-[143px] h-auto"><img class="h-full w-full" src="https://ik.imagekit.io/reloopproject/img/logo.png?updatedAt=1708581221598" alt=""></div>
            <div class="font-bold text-[16px] text-[#214971]">聯絡我們&nbsp;Contact&nbsp;Us</div>
            <div class="flex gap-3">
                <a href="#"><img src="https://ik.imagekit.io/reloopproject/img/footer-line-icon.png?updatedAt=1708581204445" alt=""></a>
                <a href="#"><img src="https://ik.imagekit.io/reloopproject/img/footer-fb-icon.png?updatedAt=1708581203438" alt=""></a>
                <a href="#"><img src="https://ik.imagekit.io/reloopproject/img/footer-ig-icon.png?updatedAt=1708581203555" alt=""></a>
                <a href="#"><img src="https://ik.imagekit.io/reloopproject/img/footer-tw-icon.png?updatedAt=1708581204646" alt=""></a>
            </div>
            <div class="mt-auto text-xs font-bold">
                Copyright © ONCE&(_) All Rights Reserved. 
            </div>
        </div>
    </div>
    <div class="h-full w-[50%] flex flex-col"><!-- 關於我們 -->
        <div class="h-full w-full flex flex-row justify-between pl-[10%]">
            <div class="h-full w-auto font-bold flex flex-col gap-2"><!-- 左邊 -->
                <div class="text-[#214791] text-xl mb-2">關於我們About us</div>
                <div class="text-black text-sm hover:underline"><a href="#">常見問題 FAQ</a></div>
                <div class="text-black text-sm hover:underline"><a href="#">品牌故事 Story</a></div>
                <div class="text-black text-sm hover:underline"><a href="#">企業合作 Cooperation</a></div>
                <div class="text-black text-sm hover:underline"><a href="#">免責聲明 Disclaimer</a></div>
                <div class="text-black text-sm hover:underline"><a href="#">隱私權政策 Privacy Policy</a></div>
                <div class="text-black text-sm hover:underline"><a href="#">條款及細則 Terms & Conditions</a></div>
            </div>
            <div class="h-full w-auto font-bold flex flex-col gap-2"><!-- 右邊 -->
                <div class="text-[#214791] text-xl mb-2">購買流程 Purchase Progress</div>
                <div class="text-black text-sm hover:underline"><a href="#">回收及購買流程 Progress</a></div>
                <div class="text-black text-sm hover:underline"><a href="#">退貨辦法 Return Policy</a></div>
                <div class="text-black text-sm hover:underline"><a href="#">會員專區 Member</a></div>
            </div>
        </div>
        <div>
            <img class="ml-auto" src="https://ik.imagekit.io/reloopproject/img/footermark.png?updatedAt=1708581204973" alt="">
        </div>
    </div>
</footer>