<header id="totop" class="flex justify-between h-[84px] w-auto bg-white px-10 z-50"><!-- header -->
    <button class="h-full w-[15%]"><!-- header左邊 -->
      <a href="index.html"><img src="https://ik.imagekit.io/reloopproject/img/logo.png?updatedAt=1708581221598" alt=""></a>
    </button>
    <nav class="w-auto h-full"><!-- header navlist -->
      <ul class="w-full h-full flex items-center justify-center">
        <li class="w-auto h-full flex items-center px-4 text-[#FFB703] hover:bg-slate-200">
          <a href="#" class="h-full flex items-center hover:text-[#FFB703] hover:no-underline">
            <span>全新未拆吊牌專區</span>
          </a>
        </li>
        <li class="w-auto h-full flex items-center px-4 hover:bg-slate-200">
          <a href="#" class="h-full flex items-center hover:text-[#666666] hover:no-underline">
            <span>專輯專區</span>
          </a>
        </li>
        <li class="w-auto h-full flex items-center px-4 hover:bg-slate-200"><!-- header nav MEN -->
          <div class="nav_Men relative h-full flex items-center"><!-- nav_men -->
            <a class="h-full w-full flex items-center hover:text-[#666666] hover:no-underline" href="womanproductall.html">
              <span>MEN</span>
              <span>▽</span>
            </a>
            <div class="nav_MenChild absolute w-auto z-50 bg-white left-[-24px] top-[83px] hidden duration-700"><!-- nav_child -->
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 relative hover:bg-slate-100">
                <span>上衣</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">襯衫</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">毛衣</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長袖</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">背心</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">西裝外套</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">針織</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短袖</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">外套</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">牛仔褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">棉褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短裙</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長裙</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>套裝</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">褲裝</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">裙裝</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">連身褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">連身裙</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">洋裝</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">鞋款</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">首飾</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">包包</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="w-auto h-full flex items-center px-4 hover:bg-slate-200"><!-- header nav WOMEN -->
          <div class="nav_Men relative h-full flex items-center"><!-- nav_men -->
            <a class="h-full w-full flex items-center hover:text-[#666666] hover:no-underline" href="womanproductall.html">
              <span>WOMEN</span>
              <span>▽</span>
            </a>
            <div class="nav_MenChild absolute w-auto z-50 bg-white left-[-24px] top-[83px] hidden duration-700"><!-- nav_child -->
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 relative hover:bg-slate-100">
                <span>上衣</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">襯衫</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">毛衣</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長袖</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">背心</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">西裝外套</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">針織</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短袖</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">外套</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">牛仔褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">棉褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短裙</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長裙</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>套裝</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">褲裝</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">裙裝</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">連身褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">連身裙</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">洋裝</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">鞋款</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">首飾</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">包包</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="w-auto h-full flex items-center px-4 hover:bg-slate-200"><!-- header nav UNISEX -->
          <div class="nav_Men relative h-full flex items-center"><!-- nav_men -->
            <a class="h-full w-full flex items-center hover:text-[#666666] hover:no-underline" href="womanproductall.html">
              <span>UNISEX</span>
              <span>▽</span>
            </a>
            <div class="nav_MenChild absolute w-auto z-50 bg-white left-[-24px] top-[83px] hidden duration-700"><!-- nav_child -->
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 relative hover:bg-slate-100">
                <span>上衣</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">襯衫</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">毛衣</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長袖</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">背心</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">西裝外套</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">針織</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短袖</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">外套</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">牛仔褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">棉褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">短裙</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">長裙</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>套裝</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">褲裝</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">裙裝</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">連身褲</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">連身裙</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">洋裝</a>
                </div>
              </div>
              <div class="nav_MenChildJacket w-[130px] h-[60px] px-2 text-base flex justify-between items-center border-b-[1px] border-gray-200 hover:bg-slate-100">
                <span>下身</span><span>＞</span>
                <div class="nav_MenChildJacketList absolute bg-white top-[0px] left-[130px] w-[100px] grid-rows-5 grid-flow-col hidden"><!-- nav man list -->
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">鞋款</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">首飾</a>
                  <a href="#" class="w-[100px] h-[60px] text-center py-2 bg-white hover:text-[#D1460B]">包包</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="w-auto h-full flex items-center px-4 hover:bg-slate-200">
          <a href="#" class="h-full flex items-center hover:text-[#666666] hover:no-underline">
            品牌故事
          </a>
        </li>
        <li class="w-auto h-full flex items-center px-4 hover:bg-slate-200">
          <a href="index.html" class="h-full flex items-center hover:text-[#666666] hover:no-underline">
            首頁
          </a>
        </li>
      </ul>
    </nav>
    <div class="h-full w-[10%] flex items-center justify-between"><!-- header右邊 -->
      <a href="/login.html"><button class="h-[40px] w-[40px] text-white flex items-center justify-center"><img src="https://ik.imagekit.io/reloopproject/img/search.png?updatedAt=1708581228235" alt=""></button></a><!-- search icon-->
      <a href="/login.html"><button class="h-[40px] w-[40px] text-white flex items-center justify-center"><img src="https://ik.imagekit.io/reloopproject/img/member_icon.png?updatedAt=1708581223122" alt=""></button></a><!-- login icon-->
      <a href="/marketcart.html"><button class="h-[40px] w-[40px] text-white flex items-center justify-center"><img src="https://ik.imagekit.io/reloopproject/img/marketcart.png?updatedAt=1708581221676" alt=""></button></a><!-- marketcart icon-->
    </div>
  </header>